.social_title {
    margin-bottom: 1.2em;
    font-size: 1.3em;
}

.social-items {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 700px;
    margin: 0 auto;
}


.social_btn-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    padding: .8em 1.8em;
    margin: 0 auto 0.8em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    border-radius: 0.3em;
}

.telegram {
    background: var(--lightBlue);
    background-image: url('../../icons/telegram.svg');
}

.twitter {
    background: var(--lightBlue);
    background-image: url('../../icons/twitter.svg');
}

.discord {
    background: var(--darkBlue1);
    background-image: url('../../icons/discord.svg');
}

.facebook {
    background: var(--darkBlue);
    background-image: url('../../icons/facebook.svg');
}

.google {
    background: var(--lightBlue1);
    background-image: url('../../icons/search.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 10px center;
}


.telegram,
.twitter,
.facebook,
.discord {
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.instagram {
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.instagram::before {
    content: '';
    top: 7px;
    left: 10px;
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url('../../icons/instagram.svg');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 567px){
    .social-items {
        grid-template-columns: 100%
    }
}