header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5em;
    color: var(--white);
    background: var(--black);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.logo img{
    max-height: 50px;
    margin-right: 0.3em;
}

@media screen and (max-width: 767px) {
    header {
        font-size: 0.6em;
        padding: 1em 2em;
    }

}